@{
    ViewBag.Title = "网站体检系统";
    string url = ViewData["url"] as string;
    bool isHostory = bool.Parse(ViewData["isHostory"].ToString());
    int siteId = int.Parse(ViewData["siteId"].ToString());
    bool isReplace = bool.Parse(ViewData["isReplace"].ToString());
}
<style type="text/css">
    .tag
    {
        width: 500px;
        height: 200px;
        border: 2px solid #BA1722;
        position: absolute;
        background-color: #FFF;
        z-index: 9999;
        color: black;
        display: none;
    }
    .tag em
    {
        display: block;
        border-width: 20px;
        position: absolute;
        bottom: 75px;
        left: 497px;
        border-style: solid;
        border-color: transparent transparent transparent #BA1722;
        font-size: 0;
        line-height: 0;
    }
    .tag span
    {
        display: block;
        border-width: 20px;
        position: absolute;
        bottom: 75px;
        left: 495px;
        border-style: solid;
        border-color: transparent transparent transparent #FFF;
        font-size: 0;
        line-height: 0;
    }
    
    #scrod
    {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        padding-top: 30px;
        padding-left: 30px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -o-border-radius: 50px;
        border-radius: 50px;
        background-color: darkturquoise;
        font-size: 30px;
    }
    
    .font_list
    {
        color: black;
    }
    .row
    {
        margin-right: 0px;
    }
    .marginleft15
    {
        margin-left: 15px;
    }
    
    .line_right
    {
        float: right;
        width: 50px;
    }
    .icon_size
    {
        width: 25px;
        height: 25px;
    }
</style>
<body style="background-color: White;font-family:微软雅黑;">
    <div class="tag">
        <em></em><span></span>
        <div>
        </div>
    </div>
    @if (string.IsNullOrWhiteSpace(url) && isHostory == false)
    {
        <span>体检网址不能为空!</span>
    }
    else
    {
        <div class="row" style="margin-right: 0px">
            <div>
                <div class="box box-widget widget-user-2">
                    <div class="widget-user-header bg-green" id="scrod_bg_color" style="background:url(@Url.Content("~/Content/images/optimization_safe.png")">
                        <div class="col-md-12">
                            <div class="widget-user-header">
                                <div class="xn_index_head">
                                    <div class="xn_index_head1">
                                        <img src="@Url.Content("~/Content/images/xn_logo.png")"/>
                                    </div>
                                    <div class="xn_index_head2">
                                        <h3 style="margin-top:10px;font-family: 微软雅黑; font-weight: bold;font-size:30px;color:White">
                                            网站体检系统</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="xn_basic_tit_f">
                                <div class="xn_basic_tit_f1">
                                    <div class="xn_basic_tit_f11">
                                        <h2 id="score" style="font-family: 微软雅黑;">
                                            100</h2>
                                    </div>
                                    <img id="view_icon" src="@Url.Content("~/Content/images/xn_result_ll.png")" style="margin-left: 12px; margin-top: 5px;">
                                </div>
                                <div class="xn_basic_tit_f2">
                                    <span id="url_view" style="text-align: left; font-size: 30px; color: White">目前查询的是:</span>
                                    <span style="text-align: left; font-size: 30px; color: White" id="siteUrl">@url</span>
                                    <span id="features" style="float: right; margin-top: 30px;">
                                        <button class='xn_btn' disabled="disabled" style="background-color:#00A65A" type='button' onclick="stop()">取消</button>
                                    </span>
                                    <div class="progress progress-sm active view_checking" style="margin-top: 40px; height: 15px">
                                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="process">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                    <div style="margin-top: 40px; font-size: 20px;font-family: 微软雅黑; color: White;" class="view_checking">
                                        <span>正在为您检测：</span><span class="text-muted" id="view"  style="font-family: 微软雅黑; color: White;" ></span></div>
                                    <div style="font-size: 20px; display: none;" class="view_result">
                                        <span id="result_text" style="color: white"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="xn_nav">
                            <h2>
                                <span class="xn_nav_span1" style="line-height: 80px">共检查<span id="item_count" style="font-size: 40px;">0</span>项，以下<span
                                    id="problem" style="color: Red; font-size: 40px;">0</span>项有问题</span> <span class="xn_nav_span2"
                                        id="Export" style="line-height: 80px"></span>
                            </h2>
                        </div>
                    </div>
                    <div id="list" style="width: 950px; margin: 0 auto; border: none; position: relative;">
                    </div>
                </div>
            </div>
        </div>
    }
</body>
<script type="text/javascript">
        var request = new Array();
        var siteId = 0;
        var checkSite_interval;
        var score_interval;
        var sitelUrl = '@url';
        var isReplace = '@isReplace';
        $(function () {
            init();
        });

        function init() {
             $("#siteUrl").text(sitelUrl);
           if ('@isHostory.ToString().ToLower()' == 'false') {
               checkSite_interval = setInterval(checkSite, "1000");
           } else {
              var result = jQuery.parseJSON(window.external.GetSiteExaminationInfo('@siteId'));
               sitelUrl = result.SiteUrl;
              $("#siteUrl").text(sitelUrl);
              load('@siteId');
           }
        }

        //登录检查
        function checkSite() {
            $(".view_checking").css('display','block');
            $(".view_result").css('display','none');
            $("#view").text("是否需要登录...");
            clearTimeout(checkSite_interval);
            var result = jQuery.parseJSON(window.external.CheckSite(sitelUrl,isReplace));
            if (result.Result) {
                sitelUrl = result.Data;
              $("#siteUrl").text(sitelUrl);
                start();
            } else {
                window.location.href = "@Url.Action("Index")?isLogin=true&message="+result.Message+"&url"+sitelUrl;
            }
        }
        var item_count = 0;
        //启动体检
        function start() {
            $("#Export").empty();
            $(".detailname").css('color','black');
            $(".itemname").css('color','black');
            success();
            $(".view_checking").css('display','block');
            $(".view_result").css('display','none');
            request = new Array();
            siteId = 0;
            i = 1;
            score = 100;
            problem = 0;

            $("#score").text(score);
            //调用启动体检
            var startjson = jQuery.parseJSON(window.external.Start(sitelUrl));
            if (!startjson.Result) {
                alert(startjson.Message);
            }
            load(startjson.Data);
        }

        var interval;
        //启动定时器
        function run() {
            interval = setInterval(chat, "3000");
            $("#features").html("<button class='xn_btn' type='button'  style='background-color:#00A65A' onclick=\"stop()\">取消</button>");
        }

        function load(Ids) {
            siteId = Ids;
            item_count = 0;
            var json = jQuery.parseJSON(window.external.GetExaminationItem());
            var list = $("#list");
            list.empty();
            var body = "";
            var viewItem = "";
            var param = [];
            $.each(json, function (i, v) {
                body += "<div class='row' style='font-family:微软雅黑;border: none;'><div class='box box-default collapsed-box' style='margin: 0 auto; border: none;'><div class='box-header with-border' style='border-bottom:1px solid #eeeeee;'>";
                body += "<h3 class='box-title col-md-1' style='width:200px;font-size:24px;'>" + v.Name + "</h3><div class='box-tools pull-right' ><span style='margin-right:50px;'>共"+v.ExaminationItemDetail.length+"项 <span style='visibility: hidden;margin-left:10px;' class='item_score'>得分<span  id='item_"+v.ItemId+"'>0</span>分</span></span><button type='button' class='btn btn-box-tool' data-widget='collapse'><i class='fa fa-plus'></i></button></div></div>";
                body += "<div class='box-body font_list' style='display: block;'>";
                body += "<ul>";
                $.each(v.ExaminationItemDetail, function (index, val) {
                    body += "<li style='line-height:30px;margin-left:40px;border-bottom:1px solid #eeeeee;' class='marginleft15 detailname' id='detail_name_"+ val.DetailId+"'>" + val.Name + "    <span  id='detail_" + val.DetailId + "'  class='line_right'><img src='@Url.Content("~/Content/images/loading.gif")' class='icon_size' ></span></li>";
                    param = [siteId, val.DetailId];
                    request.push(param);
                    item_count++;
                });
                body += "</div></div></div>";
            });
            list.append(body);

            $("#item_count").text(item_count);
            run();
        }

        var i = 1;
        //评分
        var score = 100;
        //问题项
        var problem = 0;
        //请求体检结果
        var cach_score = 0;

        function chat() {
            i++;
            cach_score = 0;
            var cach = new Array();
            $(request).each(function(i, v) {
                var result = jQuery.parseJSON(window.external.GetDetailResult(v[0], v[1]));
                if (result.Result) {
                    if (result.Data.IsPass) {
                        $("#detail_" + v[1]).text(result.Data.Score + "分");

                        $("#item_" + result.Data.ItemId).text(Number($("#item_" + result.Data.ItemId).text()) + result.Data.Score);

                    } else {
                        $("#detail_name_" + v[1]).css('color', 'red');
                        $("#detail_" + v[1]).html("<span onclick='modal_mouseover(this)'  siteId='" + v[0] + "' detailId='" + v[1] + "' ><img src='@Url.Content("~/Content/images/xn_web_basics_01.png")' class='icon_size' ></span>");
                      //  cach_score=cach_score+result.Data.Score;
                        score = score - result.Data.Score;
                      $("#score").text(score);
                        problem++;
                        $("#problem").text(problem);
                    }
                    $("#view").text(result.Data.Name);
                } else {
                    cach.push(v);
                }
            });
            request = cach;


              var width=((((item_count - request.length) / item_count).toFixed(2) * 100) + i);
             if (width < 95) {
                 $("#process").animate({ "width": width + "%" }, 1000);
             } else if ((((item_count - request.length) / item_count).toFixed(2) * 100) < 95) {
                 $("#process").animate({ "width": 95 + "%" }, 1000);
             } else {
                 $("#process").animate({ "width": (((item_count - request.length) / item_count).toFixed(2) * 100)  + "%" }, 1000);
             }

            if (request.length <= 0) {
                clearTimeout(interval);
                $("#view").text("定时执行:" + i + ",需要查询的数:" + request.length + ",状态:体检完成");
                $(".item_score").css("visibility", "visible");
                $("#Export").html("<a href='javascript:void(0);' onclick=\"ExportReport()\">生成报告</a>");
                $("#features").html("<button class='xn_btn' type='button' style='background:#00A65A'  onclick='restart()'>开始体检</button>");
                $(".view_checking").css('display', 'none');
                $(".view_result").css('display', 'block');
                $("#result_text").html("<span style='font-family:微软雅黑;'>您的网站体检得分是<span style='font-size:50px;'>" + score + "</span>分，建议您对网站进行优化</span>");
                $("#url_view").css('display', 'none');
                url_input();
            }
            
            if (score < 80 && score >= 50) {
                warning();
            } else if (score < 50) {
                danger();
            }
}

        //导出体检报告
        function ExportReport() {
            window.external.ExportFile(siteId);
        }

        //取消体检
        function stop() {
            var json = jQuery.parseJSON(window.external.Stop());
            if (json.Result) {
                clearTimeout(interval);
                 $("#view_icon").attr("src", "@Url.Content("~/Content/images/cancel.png")");
                $("#score").empty();
                $(".item_score").css("visibility", "visible");
                $("#scrod_bg_color").css("background","url(@Url.Content("~/Content/images/basic_banner.png"))");
                $("#view").text("定时执行:" + i + ",需要查询的数:" + request.length + ",状态:体检取消");
                $("#features").html("<button class='xn_btn' style='background:#00A65A' onclick='restart()'>开始体检</button>");
                $(".view_checking").css('display', 'none');
                $(".view_result").css('display', 'block');
                $("#result_text").html("<span>体检被取消！目前您的网站发现有<span style='font-size:50px;'>" + problem + "</span>项问题！<span>");
                $("#url_view").css('display', 'none');
                $(request).each(function (i, v) {
                      $("#detail_" + v[1]).text("");
                });


                url_input();
            } else {
                alert("取消失败：" + json.Message);
            }
        }

        //clear
        function clearColor() {
            $("#scrod_bg_color").removeClass("bg-green").removeClass("bg-red").removeClass("bg-yellow");
            $("#process").removeClass("progress-bar-success").removeClass("progress-bar-danger").removeClass("progress-striped .progress-bar-warning");
        }

        function success() {
            clearColor();
            $("#scrod_bg_color").css("background","url(@Url.Content("~/Content/images/optimization_safe.png"))");
            $("#process").addClass("progress-bar-success");
            $("#scrod").css("background-color", "darkturquoise");
            $(".xn_btn").css("background-color","#00A65A");
        }

        function warning() {
            clearColor();
            $("#scrod_bg_color").css("background","url(@Url.Content("~/Content/images/xn_safe.png"))");
            $("#process").addClass("progress-bar-warning");
            $("#scrod").css("background-color", "#f0ad4e");
            $(".xn_btn").css("background-color","#FD9F5D");
        }

        function danger() {
            clearColor();
            $("#scrod_bg_color").css("background","url(@Url.Content("~/Content/images/xn_result.png"))");
            $("#process").addClass("progress-bar-danger");
            $("#scrod").css("background-color", "#f45344");
            $(".xn_btn").css("background-color","#E44007");
        }


        $(".modal_view").mouseover(function() {
            modal_mouseover(this);
        });

        $(".modal_view").mouseout(function() {
            modal_mouseout(this);
        });

        function modal_mouseover(obj) {
            modal_mouseout();
          var content=  $(".tag >div");
            content.empty();
           var siteId= obj.attributes["siteId"].value;
           var detailId= obj.attributes["detailId"].value;
            var result = jQuery.parseJSON(window.external.GetDetailResult(siteId, detailId));
            if (result.Result) {
                var contentText = "<div class='xn_basics_close'> <img src='@Url.Content("~/Content/images/xn_close.png")' onclick='modal_mouseout()'> </div>";
                contentText += "<table style='margin-top:5px;margin-left:5px;font-family:微软雅黑'>";
                contentText += "<tr style='line-height:40px;'><td colspan='2' style='margin-left:2px;color:red;font-size:24px;font-family:微软雅黑;'>原因展示</td></tr>";
                contentText += "<tr style='margin-top:10px;line-height:30px;font-family:微软雅黑'><td style='width:65px;text-align:right;margin-left:2px;'>分析项目:</td><td>"+result.Data.Name+"</td></tr>";
                contentText += "<tr valign='top'style='margin-top:30px;line-height:30px;font-family:微软雅黑'><td style='width:65px;text-align:right;margin-left:2px;'>分析网址:</td><td>"+(result.Data.Position==null?'':result.Data.Position)+"</td></tr>";
                contentText += "<tr valign='top' style='margin-top:30px;line-height:30px;font-family:微软雅黑'><td style='width:65px;text-align:right;margin-left:2px;'>分析结果:</td><td>"+result.Data.Result+"</td></tr>";
                contentText += "<tr valign='top' style='margin-top:30px;line-height:30px;font-family:微软雅黑'><td  style='width:65px;text-align:right;margin-left:2px;'>要&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;求:</td><td>"+result.Data.Require+"</td></tr>";
                contentText += "</table>";
                content.append(contentText);
            }
            $(".tag").css("margin-top",  obj.getBoundingClientRect().top+document.documentElement.scrollTop-$(".tag").height()/2+5);
            $(".tag").css("margin-left", obj.getBoundingClientRect().left - $(".tag").width()-20);
            $(".tag").css("display", "block");
        }

        function modal_mouseout() {
                $(".tag").css("display", "none");
        }


        function url_input() {
            $("#siteUrl").html("<input  placeholder='输入需要体检的网址,如:http://www.baidu.com' type='text' id='input_siteurl' value='"+sitelUrl+"' style='margin-top:30px;width:500px;display: inline-block;height: 58px;border:1px solid #b7aca8;border-radius: 5px;font-size: 20px;text-indent: 5px;line-height: 60px;	color: #000;'/>");
        }

        //重新体检
        function restart() {
           var url=$.trim($("#input_siteurl").val());
           window.location.href = '@Url.Action("StartPage")?isHostory=false&siteId=0&examinationUrl=' + url;
        }

</script>
